<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">


<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="height=device-height,width=device-width, initial-scale=1">
<script
	src="/js/angular.min.js"></script>

<link rel="stylesheet"
	href="/css/bootstrap.min.css">
<script
	src="/js/jquery-1.12.1.min.js"></script>
<script
	src="/js/bootstrap.min.js"></script>

	
			<script src="/js/angular-cookies.js"></script>

<title>BookAdda</title>
</head>

<body ng-app="bookAdda-addBooks" ng-controller="myCtrl">
	<div class="container">
		<form action="/save" role="form">
			<div class="form-group">
				<input type="text" name="name"
					class="form-control" placeholder="name" /><br>

				<input type="number" name="price"
					class="form-control" placeholder="Price" /><br>
					<input type="hidden" value="{{email}}" name="email"/>
					<input
					type="submit" class="btn btn-default"> <br>
				<a href="/searchBook" >Search</a>
				<a href="/allRecords" >All</a>
				
				{{email}}
			</div>
		</form>
	</div>

	<script>
		var app=angular.module('bookAdda-addBooks',['ngCookies']);
		app.controller("myCtrl",['$scope','$http','$window','$cookies',function($scope,$http,$window,$cookies){
		$scope.email=$cookies.get("user");
		
		}]);
		

	
	</script>
	
</body>
</html>
