<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">


<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="height=device-height,width=device-width, initial-scale=1">
<script
	src="/js/angular.min.js"></script>

<link rel="stylesheet"
	href="/css/bootstrap.min.css">
<script
	src="/js/jquery-1.12.1.min.js"></script>
<script
	src="/js/bootstrap.min.js"></script>

	
			<script src="/js/angular-cookies.js"></script>

<title>BookAdda</title>
</head>
<body ng-app="bookAdda-enquiries" ng-controller="myCtrl">
<button class="btn btn-info" ng-click="showS=true;showR=false">Sent Enquiries</button>
<button class="btn btn-info" ng-click="showR=true ;showS=false">Received Enquiries</button>
<div ng-show="showS">Sent</div>
<div ng-show="showR">Received</div>





<script>
var app=angular.module("bookAdda-enquiries",[]);
app.controller("myCtrl",function($scope){
$scope.showS=true;
$scope.showR=false;



});

</script>
</body>


</html>