<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="height=device-height,width=device-width, initial-scale=1">
<script
	src="/js/angular.min.js"></script>

<link rel="stylesheet"
	href="/css/bootstrap.min.css">
<script
	src="/js/jquery-1.12.1.min.js"></script>
<script
	src="/js/bootstrap.min.js"></script>

	
			<script src="/js/angular-cookies.js"></script>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>BookAdda</title>
</head>

<body ng-app="bookAdda-login" ng-controller="myCtrl">
	<div class="container">
		<form  role="form"name="myForm">
			<div class="form-group">
				<input type="email" name="email"
					class="form-control" placeholder="Username" ng-model="email" /><br>
			<span ng-show="!wrongPass" >Check username and password</span>
				<input type="password" name="password"
					class="form-control" placeholder="Password" ng-model="pass"/><br>
					<input
					type="submit" class="btn btn-default" ng-click="checkUser(email,pass)"> <br>
			</div>
		</form>
		<a href="/searchBook">Search</a>
		<a href="/register">Register</a>
	</div>
	<script>
	var app=angular.module('bookAdda-login',['ngCookies']);

	app.controller("myCtrl",['$scope','$http','$window','$cookies',function($scope,$http,$window,$cookies){
	if($cookies.get("user")!=null){	
	$window.location.href = '/profile';
}
	$scope.wrongPass=true;
	$scope.checkUser=function(email,pass){
	$http.get("/checkUser?email="+email+"&&password="+pass).then(function(response) {
					$scope.wrongPass= response.data.valid;
					if($scope.wrongPass){
					$window.location.href = '/profile';
					$cookies.put("user",$scope.email);
						}
				});
	
	};
	
	}]);
	
	</script>

</body>
</html>
