<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="height=device-height,width=device-width, initial-scale=1">

<script
	src="/js/angular.min.js"></script>

<link rel="stylesheet"
	href="/css/bootstrap.min.css">
<script
	src="/js/jquery-1.12.1.min.js"></script>
<script
	src="/js/bootstrap.min.js"></script>

	
			<script src="/js/angular-cookies.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>BookAdda</title>
</head>

<body ng-app="bookAdda-register" ng-controller="myCtrl">
	<div class="container">
		<form action="/addUser" role="form" enctype="multipart/form-data" method="post">
			<div class="form-group">
				<input type="text" name="name"
					class="form-control" placeholder="Name" required/><br>
		<input type="email" name="email" required
					class="form-control" placeholder="Email" /><br>
		<input type="tel" name="cno" required
					class="form-control" placeholder="Contact No." /><br>
		<input type="password" name="pass1"  required ng-model="pass1"
					class="form-control" placeholder="Password" /><br>
		<input type="password" name="pass2"  required ng-model="pass2"
					class="form-control" placeholder="Re Type Password" /><br>
					<input type="file" accept="image/*" name="img"/>

					<input ng-disabled="pass1!=pass2"
					type="submit" class="btn btn-default"> <br>
				
				
			</div>
		</form>
	</div>
	<a href="/login">Login</a>
	<script>
			var app = angular.module('bookAdda-register', ['ngCookies']);
			app.controller("myCtrl",['$scope','$cookies',function($scope,$cookies){
			}]);

	</script>

</body>
</html>
