<html>
<head><script
	src="/js/angular.min.js"></script>

<link rel="stylesheet"
	href="/css/bootstrap.min.css">
<script
	src="/js/jquery-1.12.1.min.js"></script>
<script
	src="/js/bootstrap.min.js"></script>

	
			<script src="/js/angular-cookies.js"></script>
<meta name="viewport"
	content="height=device-height,width=device-width, initial-scale=1">

</head>
	<body style="height:100%;width:100%" ng-app="myApp" ng-controller="my" ng-swipe-left="a=a+1" ng-swipe-right="a=a-1">
<p>A {{a}}</p>
		
		<script>
		var app=angular.module("myApp",['ngTouch']);
		app.controller("my",function($scope)
		{
		$scope.a=0;
		});
		</script>
	</body>

</html>