<html>
<head><script
	src="/js/angular.min.js"></script>

<link rel="stylesheet"
	href="/css/bootstrap.min.css">
<script
	src="/js/jquery-1.12.1.min.js"></script>
<script
	src="/js/bootstrap.min.js"></script>

	
			<script src="/js/angular-cookies.js"></script>

<meta name="viewport"
	content="height=device-height,width=device-width, initial-scale=1">

</head>
	<body style="height:100%;width:100%" ng-app="myApp" ng-controller="my" ng-swipe-left="a=a+1" ng-init="loadUser()">
<div>Name: {{user.name}}<br/>
Email: {{user.email}}<br/>
Contact No.: {{user.cno}}
<br/>
</div>		
		<div><a href="/addBook">Add Book</a>
		<br/>
		<a href="/searchBook">Search		</a></div>
		<button ng-click="logout()">Logout</button>
		<script>
		var app=angular.module("myApp",['ngCookies']);
		app.controller("my",['$scope','$cookies','$http','$window',function($scope,$cookies,$http,$window)
		{
			$scope.loadUser=function(){
			$scope.email=$cookies.get("user");
			if($scope.email==null){
			$window.location.href = '/login';
			}
			$http.get("/getUser?email="+$scope.email).then(function(response) {
					$scope.user=response.data;
				});};				

			$scope.logout=function(){
			$cookies.remove("user");
			$scope.loadUser();
			};
		}]);
		</script>
	</body>

</html>